#### Preliminary Wrangling

In [ ]:
import random

In [ ]:
import pandas as pd
from IPython.display import HTML
import piplite
%pip install seaborn
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')
pd.set_option('max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import re
import matplotlib.pyplot as plt
import random

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
# high-level overview of data shape and composition
print("Number of Rows in day.csv : ",df.shape[0],"\nNumber of columns in day.csv : ",df.shape[1])

In [ ]:
df.info()

In [ ]:
print("\n DataSet : Train.csv \n")
df.head(1)

In [ ]:
df.describe()

#### Data Dictionary

In [ ]:
data_dictionary = pd.read_csv('data_dictionary.csv')

In [ ]:
data_dictionary

#### Assessing

In [ ]:
# Check duplicated value
display(HTML(f"Number of duplicated values in the dataset : {df.duplicated().sum()}"))

In [ ]:
# Check null value for each column
null_cols = df.columns[df.isnull().all(axis=0)].tolist()

print(f"List of columns with NULL's : \n\n {null_cols} \n")
print(f"Count of columns having all NULL values : {len(null_cols)}")

In [ ]:
uniq_list = df.columns[(df.nunique() == 1)].tolist()
print("List of columns that have same value for all records : \n\n", uniq_list )
print("\nCount of columns that have same value for all records : ", len(uniq_list) )

##### Removing all the columns having the same value from the dataset

In [ ]:
# Finding Columns with more than 50% of the data as NAN
nan_columns  = df.columns[round(100* (df.isnull().sum()/len(df.index)),2) > 50].tolist()
print("List of columns that have null records for more than 50% of the data : \n\n", nan_columns )
print("\nCount of columns that have have null records for more than 50% of the data : ", len(nan_columns) )

#### Cleaning

In [ ]:
# Remove columns that have same value for all records
# First create a copy of the dataset to preserve original data
df_clean = df.copy()

In [ ]:
df_clean = df.drop(uniq_list,axis=1)

In [ ]:
df_clean.head()

In [ ]:
df_clean.shape

In [ ]:
# Remove columns with more than 50% of the data as NAN
df_clean.drop(nan_columns,axis=1,inplace=True)

In [ ]:
round(100* (df_clean.isnull().sum()/len(df.index)),2)

In [ ]:
# Remove id column since its redundant
df_clean.drop(['id'],axis=1,inplace=True)

In [ ]:
df_clean.head()

In [ ]:
df_clean.shape

In [ ]:
df_clean.columns[round(100* (df_clean.isnull().sum()/len(df_clean.index)),2) > 0.0]

In [ ]:
### Imputing NAN values with their mean and mode for object columns
def impute_values (df):
    nan_columns  = df.columns[round(100* (df.isnull().sum()/len(df.index)),2) > 0.0].tolist()
    print("List of columns that have null records : \n\n", nan_columns )
    print("\nCount of columns that have have null records  : ", len(nan_columns) )
    object_cols = df.select_dtypes('object')
    print("List of columns that are of object type : \n\n", object_cols.columns.tolist() )
    float_nan_columns = [x for x in nan_columns if x not in object_cols]
    print("List of columns that are of float type : \n\n", object_cols.columns.tolist() )
    df[float_nan_columns].mean()
    print("Mean of columns : \n\n",df[float_nan_columns].mean())
    df[float_nan_columns] = df[float_nan_columns].fillna(df[float_nan_columns].mean())
    object_columns = object_cols.columns.tolist()
    print(df[object_columns].mode())
    for i in object_columns:
        df[i] = df[i].fillna(df[i].mode()[0])
    nan_columns  = df.columns[round(100* (df.isnull().sum()/len(df.index)),2) > 0.0].tolist()
    print("List of columns that have null records : \n\n", nan_columns )
    
impute_values(df_clean)

In [ ]:
## Renaming the columns
df_clean = df_clean.rename(columns= lambda x : re.sub('_6$','june', x))
df_clean = df_clean.rename(columns= lambda x : re.sub('_7$','july', x))
df_clean = df_clean.rename(columns= lambda x : re.sub('_8$','august', x))

In [ ]:
df_clean.head(1)

In [ ]:
df_clean.info()

In [ ]:
df_clean.head(1)

In [ ]:
### Create three separate datasets for the three months to three different datasets

june_columns  = [cols for cols in df_clean.columns if 'june' in cols]
df_clean_june = df_clean.loc[:,june_columns]
july_columns = [cols for cols in df_clean.columns if 'july' in cols]
df_clean_july = df_clean.loc[:,july_columns]
august_columns = [cols for cols in df_clean.columns if 'august' in cols]
df_clean_august = df_clean.loc[:,august_columns]

In [ ]:
df_clean_june.shape

In [ ]:
df_clean_july.shape

In [ ]:
df_clean_august.shape

# Exploratory Data Analysis

#### __Univariate Analysis__ 
  → Mean, Median, Max, Min, Std, Variance, Count
  → Distribution ( Histogram, CountPlot, BoxPlot)
#### __Bivariate Analysis__
  → Relationship Between 2 Variables ( ScatterPlot, BoxPlot, BarPlot etc)
#### __Multivariate Analysis__
  → Relationship Between more variables ( Heatmap etc.)

In [ ]:
numerical_columns  = df_clean.select_dtypes('float64','int64')
string_columns = df_clean.select_dtypes('object')